## Observations and Insights

## Dependencies and starter code

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata_df = pd.read_csv(mouse_metadata)
study_results_df = pd.read_csv(study_results)

# Combine the data into a single dataset
merged_df = pd.merge(mouse_metadata_df, study_results_df)
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

## Summary statistics

In [6]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Split up our data into groups based upon 'Drug Regimen'
drug_groups = merged_df.groupby('Drug Regimen ','Tumor Volume (mm3)')
drug_groups

#ram_mean = drug_groups[Drug Regimen ='Ramicane', "Tumor Volume (mm3)"].mean()
#print(ram_mean)

#tv_median = merged_df["Tumor Volume (mm3)"].median()
#print(tv_median)


#tv_var= merged_df["Tumor Volume (mm3)"].var()
#print(tv_var)

#tv_st_dev= merged_df["Tumor Volume (mm3)"].std()
#print(tv_st_dev)

#tv_SEM= merged_df["Tumor Volume (mm3)"].sem
#print(tv_SEM)

#summary_df = pd.DataFrame({"Mean Tumor Volume (mm3)": [tv_mean],
                              #"Median Tumor Volume (mm3)": tv_median,
                              #"Tumor Volume (mm3) Variance": tv_var,
                              #"Tumor Volume (mm3) St. Dev.": tv_st_dev,
                              #"Tumor Volume (mm3) SEM ": tv_SEM})
#summary_df

ValueError: No axis named Tumor Volume (mm3) for object type <class 'pandas.core.frame.DataFrame'>

## Bar plots

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [ ]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen